<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
                <binding name="BasicHttpsBinding_IService" />
                <binding name="BasicHttpsBinding_IService1" />
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://venus.sod.asu.edu/WSRepository/Services/RandomStringSvc/Service.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IService"
                contract="RandomStringService.IService" name="BasicHttpsBinding_IService" />
            <endpoint address="https://venus.sod.asu.edu/WSRepository/Services/Stockquote/Service.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_IService"
                contract="StockServiceReference.IService" name="BasicHttpsBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>